body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/*nav style start here*/
header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-icon h1{
    font-size: 26px;
    cursor: pointer;
}
.nav-menu ul{
    display: flex;
}
.nav-menu ul li{
    list-style: none;
    margin-left: 20px;
    font-size: 18px;
}
.nav-menu ul li a{
    text-decoration: none;
    color: black;
    font-weight: 700;
}
.landing-page{
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.landing-page-info h1{
    font-size: 30px;
}
.landing-page-info p{
    font-size: 16px;
}
.landing-page-info button{
    padding: 10px 20px;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    background-color: fuchsia;
    outline: none;
    border: none;
    cursor: pointer;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.landing-page-image img{
    width: 400px;
    border: 1px solid black;
    padding: 10px;
    background-color: gainsboro;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.landing-page-image img:hover{
    width: 400px;
    cursor: pointer;
    transition: .2s;
    transform: scale(.9);
    border: 1px solid black;
    padding: 10px;
    background-color: gainsboro;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    -ms-transform: scale(.9);
    -o-transform: scale(.9);
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}

/* nav style end here */
/*main style start here*/
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container{
    width: 870px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.sponsors{
   margin-top: 20px;    
   margin-bottom: 20px;
}
.sponsors-images{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
}
.popular-collections{
    margin-top: 50px;
    margin-bottom: 100px;
}

.popular-collections h1{
    text-align: center;
    font-size: 30px;
}
.collections{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin-top: 60px;
}
.fa-star{
 color:rgb(228, 228, 6);
}
.collection{
    display: flex;
    flex-direction: column;
    padding: 12px;
    box-shadow: 1px 1px 15px ;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.see-more{
    padding: 8px 20px;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    background-color: fuchsia;
    outline: none;
    border: none;
    cursor: pointer;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.collection:nth-child(10){
    display: none;;
}
.collection:nth-child(11){
    display: none;;
}
.collection-images img{
    width:100%;
}
.collection-info h1{
    text-align: left;
    margin-top: 10px;
    
    margin-bottom:10px;
  
}
.collection-info p{
    text-align:left;
    margin-top: 0px;
    color:rgba(0, 0, 0, 0.815);
    margin-bottom: 0px;
  
}
.feature{
    display: flex;
    justify-content: center;
}
.feature-info{
    margin-left: 20px;
}
.feature-info h1{
    font-size: 30px;
}
.feature-img img{
    width: 400px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.feature-info button{
    padding: 8px 20px;
    color: white;
    font-size: 20px;
    /* border-radius: 20px; */
    background-color: fuchsia;
    outline: none;
    border: none;
    cursor: pointer;
    /* -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px; */
}



/*man style end here*/
/*footer css start here*/
footer{
    background-color: black;
    color:white;
    padding: 10px;
    text-align: center;
}
.footer a{
    text-decoration: none;
    color: white;
    margin-left: 10px;
}
/*footer css ends here*/
/* media queries start here */
@media only screen and (max-width:688px){
     
    .nav-menu ul li a{
        display: none;
    }
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .landing-page{
        margin-top: 20px;
        margin-bottom: 50px;
        display: flex;
        margin-left: 20px;
        margin-right: 20px;
        align-items: center;
        justify-content:space-around;
        flex-direction: column;
    }
    .sponsors-images{
        display: flex;
        
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .collections{
        position: relative;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-column-gap: 30px;
        grid-row-gap: 60px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 60px;
    }
    .container{
        width: 100%;
    }
    .feature{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    .collection{
        display: flex;
        flex-direction: column;
        padding: 12px;
        box-shadow: 1px 1px 15px ;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
    }
    .collection{
        display: flex;
        flex-direction: column;
        padding: 25px;
        /*box-shadow: 1px 1px 15px ;
        */border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
}
    .landing-page-info {
        margin-top: 20px;
        margin-bottom: 30px;
    }
    nav{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media only screen and (min-width:689px) and (max-width:992px){
    .container{
        width: 100%;
    }
    .collections{
        position: relative;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 30px;
        grid-row-gap: 60px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 60px;
    }
    nav{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
 
    .nav-menu ul li a{
        display: none;
    }
   
    .landing-page-info {
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .feature{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .sponsors-images{
        display: flex;
        grid-gap: 5px;
        
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .landing-page{
        margin-top: 0px;
        margin-bottom: 50px;
        display: flex;
        margin-left: 20px;
        margin-right: 20px;
        align-items: center;
        justify-content:space-around;
        flex-direction: column;
    }
}